.botaoIniciar{
    color: white;
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 298px;
    height: 56px;
    border-radius: 88px;
    background: linear-gradient(94deg, #EED761 22%, #FFB9AF 78%);
    box-shadow: 0px 3.52663px 35.26627px 0px rgba(255, 185, 175, 0.50);
    border: 0;
    position: absolute;
}

.card{
    width: 239px;
    height: 169px;
    background-color: #FAFAFA;
    border-radius: 7px;
    position: relative;
    /* filter: blur(0.6000000238418579px); */
}

.cards{
    display: flex;
    gap: 26px;
    position: absolute;
    justify-content: flex-start;
    width: 769px;
    
}
.cabecalhoCard{
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    position: absolute;
    left: 24px;
    top: 20px;
}

.localidade{
    color: #122330;
    font-size: 16px;
    margin: 0;
}

.imagem{
    border-radius: 2px;
    position: absolute;
    left: 20px;
    top: 52px;
}

.palms{
    position: absolute;
    width: 794px;
    height: 795px;
}

.nuvem1{
    width: 468px;
    height: 195px; 
    position: absolute;
    left: 326px;
    bottom:600px
    
}

.nuvem2{
    width: 468px;
    width: 468px;
    height: 195px;
    position: absolute;
    left: 17px;
    top: 285px;
}

.elipse{
    width: 646px;
    height: 646px;
    border-radius: 646px;
    opacity: 0.8;
    background: #FFF;
    filter: blur(125px);
    position: absolute;
    left: 74px;
    top: 28px
}

.plameira{
    width: 765px;
    height: 765px;
    bottom: 30px;
    right: 29px;
    position: absolute;
}